{% extends "base.html.twig" %}
{% block title %} Fichiers  de l'équipe {{equipe.infoequipe}}{% endblock %}



{% block titre3 %}
    <center>
    {{edition.ed}}<sup>e</sup>  édition : 
    {%if concours =='interacadémique'%}
   Concours interacadémique <br>
   {% if centre != null %}
   Centre de {{centre.centre}}<br>
   {% endif %}
    {% endif %}
    {%if concours =='national'%}
        Concours national<br>
        {% endif %}
        <h4> Liste des fichiers de l'équipe "{{equipe.titreProjet}}" du lycée {{equipe.rneId.nom}} de {{equipe.rneId.commune}}</h4>
    <br>
    </center>
   
        
    


{% endblock %}

{% block body %}
    
        {%  if liste_fichiers!=null %}
        <div class="well">    
            Fichiers de cette équipe déposés pour le concours {{ concours }}
            <ul>
            {% for fichier in liste_fichiers %}
                
                <tr>
                    {% if fichier.typefichier==1 %}
                      <li>{{type_fichier_lit[fichier.typefichier]}} : <a href="{{ asset('/fichiers/memoires/'~fichier.fichier)}}" target="_blanck">{{ fichier.fichier }}</a>
                   
                        {% else %}
                <li>{{type_fichier_lit[fichier.typefichier]}} : <a href="{{ asset('/fichiers/'~type_fichier[fichier.typefichier]~'/'~fichier.fichier)}}" target="_blanck">{{ fichier.fichier }}</a>
                         {% endif %}
                    </tr>
                
            {% endfor %} 
            </ul>
        </table> 
        <div class=''row>
             {{ form_start(form) }}
                <div class="my-custom-class-for-errors">
                    {{ form_errors(form) }}
                </div>
                <div class="row">
                     {{ form_widget(form.save, { 'label': 'Tout télécharger' }) }}
                   </div>
                </div>
                {{ form_end(form) }}    
               
        </div>
       {%  else %}    
           <div class="alert alert-light" >
           Cette équipe n'a pas encore déposé ses fichiers pour le concours {{ concours }}.
           </div>
      {%  endif %} 
        
      {%  if listevideos is defined %}
          <hr>
          <div class='well'>
                 
          Vidéos de l'équipe
          {% if role=='ROLE_PROF' %}
          (pour gérer les vidéos, aller dans "voir les vidéos d'une équipe" du menu principal)
              {% endif %}:
          <ul>
        {%  for video in listevideos%}
            <li> <a href ="{{video.lien}}" target="blank">{{ video.nom}}</a>
          
          
         {%  endfor %}
         
          </ul>
          </div>
          {% else %}
              <div class="alert alert-light">
           Cette équipe n'a pas encore déposé de vidéo.
           </div>
              
          {%   endif     %}
          {%  if liste_autorisations is defined %}
          <hr>
          <div class='well'>
         {% if role != 'ROLE_JURYCIA'  and  role != 'ROLE_JURY' %}        
          Autorisations photos
        {% if (role=='ROLE_PROF' ) %}
          (pour gérer les autorisations, aller dans "déposer et gérer les autorisations photos" du menu principal)
              {% endif %}
          <ul>
         Des élèves : 
            {% for eleve in listeEleves %}
               <li> {{ eleve.prenom}} {{  eleve.nom }} : 
                                               {% if eleve.autorisationphotos!=null%}
             <a href ="{{asset('/fichiers/autorisations/'~eleve.autorisationphotos.fichier)}}" target="blank">{{ eleve.autorisationphotos.fichier}}</a>
            {% endif %}
         
         {%  endfor %}
          </ul>
          <ul>
         Des professeurs :
         {% for prof in liste_prof %}
              <li>{{ prof.prenom }} {{ prof.nom }} : 
             {%    if prof.autorisationphotos != null %}
             <a href ="{{asset('/fichiers/autorisations/'~prof.autorisationphotos.fichier)}}" target="blank">{{ prof.autorisationphotos.fichier}}</a>
             {% endif %}
             
             {% endfor %}
         
          </ul>
             {% endif %}
          </div>
          {% else %}
              <div class="alert alert-light">
           Cette équipe n'a pas encore déposé d'autorisations photos
           </div>
              
          {%endif     %}
          <div class="well">
        {% if (role== 'ROLE_JURY') or (role== 'ROLE_COMITE') or (role== 'ROLE_JURYCIA') or (role== 'ROLE_ORGACIA') or (role== 'ROLE_SUPER_ADMIN')%}   
             
            {% if concours=='interacadémique' %}
                <center><a href="{{ path('fichiers_choix_equipe',{choix: centre.centre}) }}" >Retour à la liste des équipes</a></center>
           {% endif %}
           {% if concours=='national' %}
                <center><a href="{{ path('fichiers_choix_equipe',{choix:'liste_cn_comite'})  }}" >Retour à la liste des équipes</a></center>
           {% endif %} 
            {% endif %}
             {% if role=='ROLE_PROF' %}   
            
            <center><a href="{{ path('fichiers_choix_equipe',{choix:'liste_prof'})  }}" >Retour à la liste des équipes</a></center>
           
        {% endif %}
 </div>  
       
    {% block javascripts %}
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    {% endblock %}  
{% endblock %}


