{% extends "base.html.twig" %}
{% block title %} Fichiers  de l'équipe {{equipe.infoequipe}}{% endblock %}



{% block titre3 %}
    <center>
    {{edition.ed}}<sup>e</sup>  édition : 
    {%if concours =='interacadémique'%}
   Concours interacadémique <br>
   {% if centre != null %}
   Centre de {{centre.centre}}<br>
   {% endif %}
    {% endif %}
    {%if concours =='national'%}
        Concours national<br>
        {% endif %}
        <h4> Liste des fichiers de l'équipe "{{equipe.titreProjet}}" du lycée {{equipe.rneId.nom}} de {{equipe.rneId.commune}}</h4>
    <br>
    </center>
   
        
    


{% endblock %}


{% block body %}
    
        {%  if formtab is defined %}
        <div class="well">    
       <table>  
            {% for form in formtab %}
                 {% form_theme form 'bootstrap_4_layout.html.twig' %}
                 {{ form_start(form) }}
                <div class="my-custom-class-for-errors">
                    {{ form_errors(form) }}
                </div>
                <div class="row">
                    <div class="col">
                        {{ form_row(form.fichier, {  'class':'custom-file-input'}) }}
                    </div>
                    <div class="col" id="some-custom-id">
                        {% if loop.index<loop.length %}
                            {{ form_widget(form.save, { 'label': 'Télécharger' }) }}
                        {% else %}
                            {{ form_widget(form.save, { 'label': 'Tout télécharger' }) }}
                        {% endif %}
                    </div>
                </div>
                {{ form_end(form) }}         
                <hr> 
            {% endfor %} 
        </table> 
        </div>
       {%  else %}    
           <div class="alert alert-light" >
           Cette équipe n'a pas encore déposé de fichier.
           </div>
      {%  endif %} 
      {%  if listevideos is defined %}
          <hr>
          <div class='well'>
                 
          Vidéos de l'équipe
          {% if role=='ROLE_PROF' %}
          (pour gérer les vidéos, aller dans "voir les vidéos d'une équipe" du menu principal)
              {% endif %}:
          <ul>
        {%  for video in listevideos%}
            <li> <a href ="{{video.lien}}" target="blank">{{ video.nom}}</a>
          
          
         {%  endfor %}
         
          </ul>
          </div>
          {% else %}
              <div class="alert alert-light">
           Cette équipe n'a pas encore déposé de vidéo.
           </div>
              
          {%   endif     %}
          {%  if liste_autorisations is defined %}
          <hr>
          <div class='well'>
         {% if role != 'ROLE_JURYCIA' %}        
          Autorisations photos
        {% if (role=='ROLE_PROF' ) %}
          (pour gérer les autorisations, aller dans "déposer et gérer les autorisations photos" du menu principal)
              {% endif %}
          <ul>
        {%  for autorisation in  liste_autorisations%}
            <li> <a href ="{{asset('/fichiers/autorisations/'~autorisation.fichier)}}" target="blank">{{ autorisation.fichier}}</a>
          
         {%  endfor %}
         <hr>
         {% for prof in liste_prof %}
             {%    if prof.autorisationphotos != null %}
             <li> <a href ="{{asset('/fichiers/autorisations/'~prof.autorisationphotos.fichier)}}" target="blank">{{ prof.autorisationphotos.fichier}}</a>
             {% endif %}
             
             {% endfor %}
         
          </ul>
             {% endif %}
          </div>
          {% else %}
              <div class="alert alert-light">
           Cette équipe n'a pas encore déposé d'autorisations photos
           </div>
              
          {%endif     %}
          <div class="well">
        {% if (role== 'ROLE_JURY') or (role== 'ROLE_COMITE') or (role== 'ROLE_JURYCIA') or (role== 'ROLE_ORGACIA') or (role== 'ROLE_SUPER_ADMIN')%}   
             
            {% if concours=='interacadémique' %}
                <center><a href="{{ path('fichiers_choix_equipe',{choix: centre.centre}) }}" >Retour à la liste des équipes</a></center>
           {% endif %}
           {% if concours=='national' %}
                <center><a href="{{ path('fichiers_choix_equipe',{choix:'liste_cn_comite'})  }}" >Retour à la liste des équipes</a></center>
           {% endif %} 
            {% endif %}
             {% if role=='ROLE_PROF' %}   
            
            <center><a href="{{ path('fichiers_choix_equipe',{choix:'liste_prof'})  }}" >Retour à la liste des équipes</a></center>
           
        {% endif %}
 </div>  
       
    {% block javascripts %}
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    {% endblock %}  
{% endblock %}


