{% extends "base.html.twig" %}
{% block title %}
      {%if concours =='interacadémique'%}
    Equipe {{equipe.infoequipe}}
    {% else %}
    Equipe {{equipe.infoequipenat}}
      {% endif %}
     {% endblock %}

{% block titre3 %}
    <center>
    {{edition.ed}}<sup>e</sup>  édition : 
    {%if concours =='interacadémique'%}
   Concours interacadémique <br>
   {% if centre != null %}
   Centre de {{centre.centre}}<br>
   {% endif %}
    {% endif %}
    {%if concours =='national'%}
        Concours national<br>
        {% endif %}
        <h4> Equipe "{{equipe.titreProjet}}" du lycée {{equipe.rneId.nom}} de {{equipe.rneId.commune}}</h4>
    <br>
    </center>
  

    {% endblock %}
{% block body %} 
    <blockquote class="blockquote text-center">
                <p class="mb-0">
   L'équipe
                </p>
    </blockquote>
    <div class="container">
        <div class="row" >
            <div class="col">
                
                <b>Titre du projet :</b> {{ equipe.titreprojet }}
            
            </div>
        </div>
            <div class="row" >
            <div class="col">
                <b> Les élèves : </b>
                 {% for eleve in listeEleves %}
                    {{  eleve.prenom}} {{ eleve.nom }}, 
                     {% endfor %}
                
            </div>
        </div>
         <div class="row" >
            <div class="col">
                
                <b>Les professeurs : </b>
                 {% for prof in liste_prof %}
                    {{  prof.prenom}} {{ prof.nom }}, 
                     {% endfor %}
            </div>
         </div>
             <div class="row" >
            <div class="col">
                
                <b>Lycée : </b>{{equipe.rneId.nom}} de {{equipe.rneId.commune}} ({{ equipe.rneid.codePostal }})
                
                
            </div>
             </div>
                {% if role =='ROLE_PROF' %}
                <div class="row">
                    <div class="col">
                       
                        <a href="{{ path('modif_equipe', {'idequipe': equipe.id} )  }}" type="button" class="btn btn-warning">Modifier </a>
                    </div>
                </div>
                {% endif %}
    </div>
   
    
    
            <hr>
    
    <blockquote class="blockquote text-center">
                <p class="mb-0">
    Fichiers de cette équipe déposés pour le concours {{ concours }}
                </p>
    </blockquote>
    <div class="table-responsive">
  <table class="table">
      {% if  equipe.selectionnee == true %}
          {%  set liste=[0,1,2,3,4]%}
       {% endif %}   
       {% if equipe.selectionnee ==false %}
           {%  set liste=[0,1,2,4,5]%}
        {% endif %}   
      {%  for i in liste %} 
          
              
          
            {% if i !=4 or (role!='ROLE_JURY' and role!='ROLE_JURY_CIA') %}
      <tr>
     
      {%  if liste_fichiers!=null %}  
      {% set  attrib=0 %}
          {% for fichier in liste_fichiers %}
            {% if fichier.typefichier==i %}
              
                <th scope="row"><font color="#33FF33">{{ type_fichier_lit[i]}}</font> </th>
            <td>
       
                {% if type_fichier[i]!='annexes' %}
                      <a href="{{ asset('fichiers/'~type_fichier[i]~'/'~fichier.fichier) }}" target="_blank">{{ fichier.fichier}}</a>
                {% endif  %}
                {% if type_fichier[i]=='annexes' %}
                      <a href="{{ asset('fichiers/memoires/'~fichier.fichier) }}" target="_blank">{{ fichier.fichier}}</a>
                {% endif  %}
                
                {% set  attrib=1 %}
       </td>       
            
            {% endif %}
          {% endfor %}
        {% endif %}  
         {%  if attrib==0 %} 
             <th scope="row"><font color="red">{{ type_fichier_lit[i]}}</font> </th>
             <td>
                 Non encore déposé
                 
             </td>
           
         {% endif %}
         {% if (role!='ROLE_JURY' or role!='ROLE_JURY_CIA') %}
     <th scope="col"><a href="{{ path('fichiers_charge_fichiers',{infos : equipe.id~'-'~concours~'-'~i} )}}" "> <button type="button" title="Déposer">  <i class="fas fa-upload"></i></i></i></button></a></th>
         {% endif %}
    </tr>
    {% endif %}

   
      {% endfor %}
      
  </table>
  </div>
 
        {%  if liste_fichiers!=null %}
             
        <div class=''row">
             {{ form_start(form) }}
                <div class="my-custom-class-for-errors">
                    {{ form_errors(form) }}
                </div>
                <div class="row">
                     {{ form_widget(form.save, { 'label': 'Télécharger tous' }) }}
                   </div>
               
                {{ form_end(form) }}    
          </div>      
      
       {%  else %}    
           <div class="alert alert-light" >
           Cette équipe n'a pas encore déposé ses fichiers pour le concours {{ concours }}.
           </div>
      {%  endif %} 
        
      {%  if listevideos is defined %}
          <hr>
         
         
          <blockquote class="blockquote text-center">
                <p class="mb-0">
                      Vidéos de l'équipe
               </p>
        </blockquote>
          
          
          
          <div class="table-responsive">
             <table class="table">
                 <tr>
                     <td></td><td></td>
                     <td>{% if (role=='ROLE_PROF' ) %}
                         <a href="{{ path('videos_liens_videos',{infos: equipe.id~'-'~concours~'-'~'nouvelle-'} )}}" "> <button type="button" title="Nouvelle vidéo">  <i class="fa fa-plus"></i></button></a></td>
                    {% endif %}
                     <td></td>
                 </tr>
              {%  for video in listevideos%}
              
              <tr> 
                    <th scope="col">   {{ video.nom}}</th>
                    <th scope="col">   <a href ="{{video.lien}}" target="blank">{{ video.lien}}</a></th>
                    {% if (role=='ROLE_PROF' ) %}
                    <th scope="col"><a href="{{ path('videos_liens_videos',{infos: equipe.id~'-'~concours~'-'~'modifier-'~video.id} )}}" "> <button type="button" title="Modifier">  <i class="fa fa-edit"></i></button></a>

                   <button type="button" id="{{ video.id }}" data-toggle="modal" data-target="#modalconfirm"  data-idvideo="{{ video.id }}" title="Supprimer">  <i class="fa fa-trash"></i></button></th>
           {% endif %}
                    </tr>
             {%  endfor %}
         
          </table>
          </div>
          {% else %}
              <div class="alert alert-light">
           Cette équipe n'a pas encore déposé de vidéo.
           </div>
              
          {%   endif     %}
          {%  if liste_autorisations is defined %}
          <hr>
          <div class='well'>
         {% if (role != 'ROLE_JURYCIA' ) and  (role != 'ROLE_JURY') %}        
          <blockquote class="blockquote text-center">
                <p class="mb-0">
                   Autorisations photos
               </p>
          </blockquote>
      
        
              
           <div class="table-responsive">
             <table class="table">
                 <tr>
                     <td>Des élèves : </td>
                     <td></td>
                     <td></td>
                 </tr>     
            {% for eleve in listeEleves %}
                <tr> <td>
                                               {%  if eleve.autorisationphotos == null %}
                           
                                                   <font color="red">  <b>{{ eleve.nom }} {{ eleve.prenom }} </b></font>
                                               </td><td></td>
                        {% else %}
                               
                            
                            <font color="green"> <b>{{ eleve.nom }} {{ eleve.prenom }} </b></font>
                        </td><td>
                            
                            <a href="{{ asset('/fichiers/autorisations/'~eleve.autorisationphotos.fichier)}}">{{eleve.autorisationphotos.fichier}}</a>
                         
               
                    
                    </td> {% endif %}
                    <td>
                         {% if (role!='ROLE_JURY') or (role!='ROLE_JURY_CIA') %}
                            <a href="{{ path('fichiers_charge_fichiers',{infos : equipe.id~ '-'~concours~'-6-'~eleve.id~'-'} )}}"> <button type="button" title="Déposer">  <i class="fas fa-upload"></i></i></i></button></a>
                         {%  endif %} 
                        </td>
            </tr>
         {%  endfor %}
          
          <tr>
              <td>
         Des professeurs :
              </td> <td> </td><td></td>
          </tr>
         {% for prof in liste_prof %}
              <tr><td>
                      prof.autorisationphotos.edition.ed
             {%  if prof.autorisationphotos == null  or  prof.autorisationphotos.edition!=edition%}
                           
                 <font color="red" >  <b>{{ prof.nom }} {{ prof.prenom }}</font> </b></a>
             </td><td></td>
                                
                        {% else %}
                               
                            
                            <font color="green" > <b>{{ prof.nom }} {{ prof.prenom }}</b>  </font>
                        </td><td><a href="{{ asset('/fichiers/autorisations/'~prof.autorisationphotos.fichier)}}">{{prof.autorisationphotos.fichier}}</a>
                         
                {%  endif %} 
                                   
                  </td>
                  <td> 
                      {% if (role!='ROLE_JURY' ) or (role!='ROLE_JURY_CIA') %}
                      <a href="{{ path('fichiers_charge_fichiers',{infos : 'prof'~ '-'~concours~'-6-'~prof.id~'-'~equipe.id} )}}"> <button type="button" title="Déposer">  <i class="fas fa-upload"></i></i></i></button></a> 
                      
                     {% endif %}
                  </td>
                  
             {% endfor %}
         
             </table>
           </div>
             {% endif %}
          </div>
          {% else %}
              <div class="alert alert-light">
           Cette équipe n'a pas encore déposé d'autorisations photos
           </div>
              
          {%endif     %}
          <div class="well">
        {% if (role== 'ROLE_JURY') or (role== 'ROLE_COMITE') or (role== 'ROLE_JURYCIA') or (role== 'ROLE_ORGACIA') or (role== 'ROLE_SUPER_ADMIN')%}   
             
            {% if concours=='interacadémique' %}
                <center><a href="{{ path('fichiers_choix_equipe',{choix: centre.centre}) }}" >Retour à la liste des équipes</a></center>
           {% endif %}
           {% if concours=='national' %}
                <center><a href="{{ path('fichiers_choix_equipe',{choix:'liste_cn_comite'})  }}" >Retour à la liste des équipes</a></center>
           {% endif %} 
            {% endif %}
             {% if role=='ROLE_PROF' %}   
            
            <center><a href="{{ path('fichiers_choix_equipe',{choix:'liste_prof'})  }}" >Retour à la liste des équipes</a></center>
           
        {% endif %}
 </div>  
  {# #############################MODAL###################################### #}
 <div class="modal fade" id="modalconfirm"  tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="ModalconfirmLabel">Confirmation de la suppression de l'opération </h4> 
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" >
                    
                   <div class="alert hidden" role="alert" id="modalAlert"></div>
                   <form name="confirm_form" id="confirm_form"    action="{{ path('videos_liens_videos',{infos: equipe.id~'-'~concours~'-'~'supprimer'} ) }}" >
                         <input type="hidden" id="myModalID" name="myModalID" value="recipient-name" />
                        <button type="submit" id="submit_form" class="btn btn-primary">Effacer</button>
                       <p>Voulez-vous effacer cette video ?.<h6 id="modal_body"></h6> </p>
                   </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                </div>
          
          </div>
      </div>      
    </div>
   {# ################################################################################## #}
 
    {% block javascripts %}
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
         <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  
   <script type="text/javascript">
            $('#modalconfirm').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var recipient = button.data('idvideo');
                console.log(recipient)// Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this)
                modal.find('.modal-title').text('Attention')
                modal.find('.modal-body input').val(recipient)
            });
        </script>    
  
  
  
  
  
  
  
  
    {% endblock %}  
{% endblock %}


